@model ParcelDelivery.Models.FeedbackViewModel

<h4>Are you sure?</h4>
<div>
    <p>Num.: @Html.DisplayFor(m => m.Id)</p>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Email: @Html.DisplayFor(m => m.Email)</p>
    <p>Feedback: @Html.DisplayFor(m => m.Message)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" class="btn btn-block btn-danger" value="Delete" />
    }
</div>
