@if (User.Identity.IsAuthenticated)
{
    <i class="fa fa-check"><a href="#">Welcome, @User.Identity.Name! </a></i>
    <i class="fa fa-sign-out"><a href="@Url.Action("Logout", "Account")">Logout </a></i>
    if (!User.Identity.Name.Equals("Admin"))
    {
        <i class="fa fa-edit">@Html.ActionLink("Edit", "Edit", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "Edit profile" })</i>
    }

    if (User.Identity.Name.Equals("Admin"))
    {
        <i class="fa fa-user"><a href="@Url.Action("Index", "Carrier")">Administration </a></i>
    }
}

else
{
    <i class="fa fa-sign-in">@Html.ActionLink("Login", "Login", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "Login" })</i>
    <i class="fa fa-user-plus">@Html.ActionLink("Register", "Register", "Account", new { }, new { @class = "viewDialog", data_dialog_title = "Register" })</i>
}
