@model ParcelDelivery.Models.CarrierViewModel

<h4>Are you shure?</h4>
<div>
    <p>Num.: @Html.DisplayFor(m => m.Id)</p>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Address: @Html.DisplayFor(m => m.Address)</p>
    <p>Phone: @Html.DisplayFor(m => m.Phone)</p>
    <p>Description: @Html.DisplayFor(m => m.Description)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" class="btn btn-block btn-danger" value="Delete" />
    }
</div>
