@model ParcelDelivery.Models.CarrierViewModel
<div>
    <h3>Id:  @Html.DisplayFor(m => m.Id)</h3>
    <p>Name: @Html.DisplayFor(m => m.Name)</p>
    <p>Address: @Html.DisplayFor(m => m.Address)</p>
    <p>Phone: @Html.DisplayFor(m => m.Phone)</p>
    <p>Description: @Html.DisplayFor(m => m.Description)</p>
</div>
